@media (min-width: 1200px) {
    .container {
        max-width: 1440px !important;
        margin: auto;
        padding: 50px 20px;
    }
    .contact-form {
        position: absolute;
        left: -100px;
        top: -105px;
    }
    .contacts-form-wrapper {
        width: 160px;
    }
}

@media (max-width: 1200px) {
    .video-container {
        flex-direction: column;
    }
    .video-overlay-play {
        overflow: auto;
        height: 650px;
        border: none;
        left: -20px;
        top: 0px;
        position: absolute;
        border-radius: 0px;
        width: 100vw;
        max-width: 1440px;
    }
    #close {
        top: -30px !important;
    }
}
@media (max-width: 1500px) {
    #close {
        position: absolute;
        top: -70px;
        right: -15px;
    }
}

@media (max-width: 990px) {
    .container {
        padding: 30px 20px;
    }
    .header-desktop {
        display: none !important;
    }
    .menu-button {
        display: block;
    }
    .contact-form {
        position: relative;
        width: 260px;
    }
    .contacts-form-wrapper {
        width: 260px;
    }
    .footer-links-wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
    .swiper3 .swiper-slide img {
        width: 120px;
        height: 50px;
        object-fit: contain;
    }
    .swiper3 .swiper-slide {
        width: 120px !important;
        height: 50px !important;
    }

    #video-wrapper {
        position: absolute;
        left: 0px;
        top: 20px;
    }
    #video {
        height: 220px;
    }
    .large-text {
        font-size: 106px;
    }
    .inner-text {
        position: absolute;
        top: 50px;
        left: 25%;
        font-size: 17px;
        width: 80px;
    }
    .video-container {
        flex-direction: column;
    }

    .mySwiper5 .swiper-slide {
        height: auto;
    }
    .mySwiper5 .swiper-slide img {
        height: auto;
    }

    .mySwiper4 .swiper-slide {
        height: auto;
    }
    .mySwiper4 .swiper-slide img {
        height: auto;
    }
    .mySwiper4 .swiper-wrapper {
        padding: 20px 0px;
        margin: -20px 0px;
    }
}

@media (max-width: 520px) {
    .number-items {
        gap: 22px;
    }
    .number-items p {
        font-size: 12px;
    }
    .number-items div {
        font-size: 40px;
        margin-bottom: 8px;
    }
    #close {
        top: -20px !important;
    }
}
